$primary-color: white;
$font-family: "CeraPro";
$mobile-width: 900px;

@font-face {
	font-family: $font-family;
	src: url("./fonts/CeraPro-Regular.ttf");
	font-weight: 100 400;
}

@font-face {
	font-family: $font-family;
	src: url("./fonts/CeraPro-Bold.ttf");
	font-weight: 600;
}

// * {
// 	border-right: 1px solid red;
// }

.purple {
	background-color: #761674;

	&--text {
		color: #761674;
	}
}

body {
	margin: 0;
	font-family: $font-family;
	text-rendering: optimizeLegibility;
}

section.landing {
	// min-height: 100vh;
	padding: 5%;
	background: url("background.jpg") no-repeat center;
	position: relative;
	background-size: cover;

	@media screen and (max-width: $mobile-width) {
		padding: 9%;
	}

	header {
		.logo {
			display: inline-block;
			max-width: 16rem;
			margin-bottom: 1rem;
			img {
				max-width: 100%;
			}
		}

		@media screen and (max-width: $mobile-width) {
			.logo {
				width: 9rem;
			}
		}
	}

	.app-store-badges {
		width: 30rem;
		margin-bottom: 1rem;

		@media screen and (max-width: $mobile-width) {
			width: 100%;
		}

		a {
			display: inline-block;
			img {
				width: 160px;
				margin: 0.3rem;
			}
		}
	}

	.main-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.pre-text {
			color: #fff;
			font-weight: 400;
			font-size: 3.1rem;
			margin: 2px 0;

			& > span {
				font-size: 0.7em;
			}
		}

		h1 {
			font-weight: 600;
			font-size: 4rem;
			line-height: 1;
			color: #fa001e;
			background-color: #fdfd38;
			display: inline-block;
			padding: 2px 8px;
			margin: -0.5rem 0 0 0;

			&:first-of-type {
				width: 100%;
			}
		}

		@media screen and (max-width: $mobile-width) {
			h1 {
				font-size: 3rem;
			}
			.pre-text {
				font-size: 2rem;
			}
		}

		@media screen and (max-width: 700px) {
			h1 {
				font-size: 2rem;
				margin: -0.2rem 0 0 0;
			}
		}
	}

	.sub-text {
		// position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		color: #fff;
		padding: 8% 5% 0;
		box-sizing: border-box;
		left: 0;
	}

	.side-img-placeholder {
		width: 45%;
		max-width: 30rem;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		background: url(01.png) no-repeat right center;
		background-size: contain;

		@media screen and (max-width: 700px) {
			background-position: 3em 9em;
		}

		@media screen and (max-width: 430px) {
			background-position: 3em 12em;
			max-width: 35rem;
		}
	}
}

section.food-pick {
	display: flex;
	flex-wrap: wrap;

	figure {
		width: 50%;
		margin: 0;
		min-height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;

		&:first-of-type {
			background-image: url(03.jpg);
		}

		&:last-of-type {
			background-image: url(04.jpg);
		}

		figcaption {
			position: absolute;
			bottom: 0;
			padding: 2rem;
			font-weight: 600;
			font-size: 1.2rem;
			color: #fff;
		}
	}
}

section.app-download {
	padding-bottom: 40em;
	background: url(02.png) no-repeat -2rem 9rem;
	background-size: 25rem;
	position: relative;

	h2.purple--text {
		text-align: center;
		max-width: 30rem;
		margin: 4% auto 0.5em;
		box-sizing: border-box;
	}

	.phones-placeholder {
		position: absolute;
		width: 100%;
		text-align: center;
		z-index: 99999;

		img {
			display: inline-block;
			max-width: 700px;
		}
	}

	@media screen and (max-width: $mobile-width) {
		background-size: 15rem;
		background-position: -2rem 5rem;

		h2.purple--text {
			margin-top: 8%;
			width: 100%;
			padding: 0 11%;
			font-size: 1rem;
		}

		.phones-placeholder {
			img {
				width: 70%;
			}
		}
	}

	@media screen and (max-width: 700px) {
		padding-bottom: 27em;
	}
}

section.call-to-action {
	padding: 15em 10px 2%;
	text-align: center;
	position: relative;

	.cta-wrap {
		display: inline-block;
		color: #fff;
		max-width: 10rem;
		font-weight: 400;
		margin: 0 6% 1.5rem;

		.icon {
			margin-bottom: 1.5rem;
			max-width: 10rem;
		}
	}

	@media screen and (max-width: $mobile-width) {
		padding: 20% 10px 5%;
	}

	.img-placeholder-1,
	.img-placeholder-2 {
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		width: 10em;
		height: 10em;
	}

	.img-placeholder-1 {
		top: 9rem;
		right: 0;
		background-image: url(02.png);

		@media screen and (max-width: $mobile-width) {
			top: 1rem;
			width: 7em;
			height: 7em;
		}
	}

	.img-placeholder-2 {
		bottom: -3rem;
		left: 3rem;
		background-image: url(02.png);
	}
}

section.footer {
	text-align: center;
	padding: 6% 8%;
	display: flex;
	justify-content: center;

	.logo {
		text-align: left;
		margin-right: 6%;

		img {
			max-width: 8rem;
		}

		@media screen and (max-width: $mobile-width) {
			margin-right: 2%;

			img {
				max-width: 5rem;
			}
		}
	}

	ul {
		list-style: none;
	}

	nav {
		text-align: left;
		display: flex;
		flex-wrap: wrap;

		.nav-item {
			margin: 0 1.3rem;

			&:last-of-type {
				margin-right: 0;
			}

			> p {
				font-size: 1.4rem;
				margin: 12px 0 0;
			}
		}

		ul {
			padding-left: 0;
			li {
				margin: 5px 0;
			}
			a {
				text-decoration: none;
				color: black;
			}
		}
	}
}

footer {
	text-align: center;
	padding: 0 3% 2%;
	border-bottom: 10px solid #b613bf;

	a {
		display: inline-block;
		margin: 0 5px;
		img {
			max-width: 35px;
		}
	}
}
